{# Base html-view with Twitter-bootsrap & jQuery inclusion #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="{% block robots %}noindex,nofollow{% endblock %}" />
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/jsomerstonedayswithout/bootstrap/css/bootstrap.min.css') }}"
            type="text/css" media="all"
        >
        <link
            rel="stylesheet"
            href="{{ asset('bundles/jsomerstonedayswithout/bootstrap/css/bootstrap-theme.min.css') }}"
            type="text/css" media="all"
        >
        <link rel="stylesheet" href="{{ asset('bundles/jsomerstonedayswithout/css/normalize.css') }}" type="text/css" media="all">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="{{ asset('bundles/jsomerstonedayswithout/js/jquery-2.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/jsomerstonedayswithout/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/jsomerstonedayswithout/js/dayswo.js') }}"></script>
        {% block bodyscripts '' %}
    </body>
</html>
