<script>
    var checkPasswords = function(){
        $(".alert-warning").hide();
        $('.pw').removeClass('has-warning');
        var pw1 = $('#{{ passwordA }}').val(), pw2 = $('#{{ passwordB }}').val();
        if (pw1 !== pw2)
        {
            $('#{{ passwordB }}').after(
                    '<div class="alert alert-warning">'
                            + 'Passwords do not match'
                            + '</div>'
            );
            $('.pw').addClass('has-warning');
            $('#{{ button }}').attr('disabled', 'disabled');
            return false;
        }
        $('#{{ button }}').removeAttr('disabled');
        return true;
    };
    $('#{{ button }}').click(checkPasswords);
    $('#{{ passwordB }}').blur(checkPasswords);
</script>
