{% extends 'JSomerstoneDaysWithoutBundle::layout.html.twig' %}

{% block title %}Days w/o {{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="content span3 offset3">
        <h2>Start new counter:</h2>
        {{ form_start(form, {'action': path('dwo_create_counter'), 'method': 'POST'}) }}
            {{ form_errors(form) }}
            <span class="lead"><b>0</b> days without</span>
            {{ form_widget(form.headline, {'attr': {'class': 'span12', 'autofocus': 'autofocus', 'placeholder': '... what?' }}) }}
            {{ form_widget(form.public, {'attr': {'class': 'btn btn-large btn-primary btn-block' }}) }}
            <div style="text-align: center">~ or ~</div>
            {{ form_widget(form.owner.nick, {'attr': {'class': 'span6', 'placeholder': 'Nick'}}) }}
            {{ form_widget(form.owner.password, {'attr': {'class': 'span6', 'placeholder': 'Password' }}) }}

            {{ form_widget(form.private, {'attr': {'class': 'btn btn-large btn-danger btn-block' }}) }}
        {{ form_end(form) }}
    </div>
    <div class="content span4">
        <p>
            <b>Public</b>-button will create a <u>public</u> counter that anyone can reset.
        </p>
        <p>
            <b>Private</b> counter requires <b>nick</b> and <b>password</b> and that counter can only
            be reseted using password.
        </p>
    </div>
</div>
{% endblock %}
