{% extends 'JSomerstoneDaysWithoutBundle::layout.html.twig' %}

{% block title %}Days w/o {{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="{{ content_classes }}">
        <h2>Sign Up</h2>
        <div class="">
            <form action="{{ path('dwo_signup') }}" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="nickField" class="col-sm-3 control-label">Nick</label>
                    <div class="{{ field_classes }}">
                        <input
                            name="nick"
                            id="nickField"
                            type="text"
                            class="form-control mandatory"
                            required="1"
                            pattern="{{ field.nick.pattern }}"
                            title="{{ field.nick.title }}"
                        >
                    </div>
                </div>
                <div class="form-group pw">
                    <label for="passwordField" class="col-sm-3 control-label">Password</label>
                    <div class="{{ field_classes }}">
                        <input
                            name="password"
                            id="passwordField"
                            type="password"
                            class="form-control mandatory pw"
                            required="1"
                            pattern="{{ field.password.pattern }}"
                            title="{{ field.password.title }}"
                        >
                    </div>
                </div>
                <div class="form-group pw">
                    <label for="passwordConfirmField" class="col-sm-3 control-label">Confirm</label>
                    <div class="{{ field_classes }}">
                        <input
                            name="password-confirm"
                            id="passwordConfirmField"
                            type="password"
                            class="form-control mandatory pw"
                            required="1"
                            pattern="{{ field.password.pattern }}"
                            title="{{ field.password.title }}"
                        >
                    </div>
                </div>
                <div class="col-sm-offset-3">
                    <input class="btn btn-primary" id="submitButton" disabled="disabled" type="submit" value="Send">
                    <a href="{{ path('dwo_frontpage') }}" class="btn btn-link ">Cancel</a>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="{{ content_classes }}">
        <p>
            By signing up you get to create <b>private</b> counters and all the other upcoming goodies.
        </p>
    </div>
</div>
{% endblock %}

{% block bodyscripts %}
    {% include 'JSomerstoneDaysWithoutBundle:js:mandatoryCheck.js.twig'
        with { button: 'submitButton' }
    %}
    {% include 'JSomerstoneDaysWithoutBundle:js:passwordCheck.js.twig'
        with { passwordA : 'passwordField', passwordB : 'passwordConfirmField', button: 'submitButton' }
    %}
{% endblock %}
