<h2>{{ list_headline }}</h2>
<table class="counter-list">
    <tbody>
        {% for counter in counters %}
            <tr>
                <td class="counter-list-daycount">
                    {{ counter.days }}
                </td>
                <td class="counter-list-head">
                    <a href="{{ url('dwo_show_counter', { 'name': counter.name, 'owner': counter.owner }) }}">
                        days without <b>{{ counter.headline }}</b>
                    </a>
                    {% if counter.owner %}
                        - <a href="{{ url('dwo_list_user_counters', { 'user': counter.owner}) }}">
                            {{ counter.owner }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
