{% extends 'JSomerstoneDaysWithoutBundle::layout.html.twig' %}

{% block title %} {{ counter.days }} Days w/o {{ counter.headline }}{% endblock %}

{% block page_header '' %}

{% block content %}
<div class="row">
    <div class="content col-md-8 col-md-offset-2">
        <h2>Days without {{ counter.headline }}:</h2>
        <div class="row">
            <div class="counterDays">{{ counter.days }}</div>
            <span class="lead">by <b>{{ counter.owner.nick }}</b></span>
        </div>
        <div class="row">
            <p>
                <i>
                    <a href="{{ url('dwo_show_counter', { 'name': counter.name, 'owner': counter.owner.nick }) }}">
                        {{ url('dwo_show_counter', { 'name': counter.name, 'owner': counter.owner.nick }) }}
                    </a>
                </i>
            </p>

            {% if counter.days > 0 %}
                {{ form_start(form) }}
                    {% if counter.public %}

                    {% else %}
                        {{ form_widget(form.nick, {'attr': {'class': 'col-md-6', 'placeholder': 'Nick'}}) }}
                        {{ form_widget(form.password, {'attr': {'class': 'col-md-6', 'placeholder': 'Password' }}) }}
                    {% endif %}
                    {{ form_widget(form.reset, {'attr': {
                        'onClick': "return confirm('Do you REALLY want to reset the counter?');",
                        'class': 'btn btn-default btn-big btn-danger btn-block' }}) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}