{% extends 'JSomerstoneDaysWithoutBundle::layout.html.twig' %}

{% block title %} {{ counter.days }} Days w/o {{ counter.headline }}{% endblock %}

{% block page_header '' %}

{% block content %}
<div class="row-fluid">
    <div class="content span8 offset2">
        <h2>Days without {{ counter.headline }}:</h2>
        <div class="row">
            <div class="counterDays">{{ counter.days }}</div>
            <span class="lead">by <b>{{ counter.owner.nick }}</b></span>
        </div>
        <div class="row">
            <p>
                <i>
                    <a href="{{ url('dwo_show_counter', { 'name': counter.name, 'owner': counter.owner.nick }) }}">
                        {{ url('dwo_show_counter', { 'name': counter.name, 'owner': counter.owner.nick }) }}
                    </a>
                </i>
            </p>
            <form action="{{ counter.name }}" method="POST">
                <input type="hidden" name="reset" value="1">
                <button
                    onClick="return confirm('Do you REALLY want to reset the counter?');"
                    id="search-btn"
                    class="btn btn-big btn-danger btn-block"
                    {% if counter.days == 0 %}
                        disabled
                    {% endif %}
                >Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}