{% extends 'layout.html.twig' %}

{% block title %}Days w/o {{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-sm-6 col-sm-offset-3 col-xs-12">
        <h2>Login</h2>
        {{ form_start(form, {'action': path('dwo_login'), 'method': 'POST', 'attr': {'role': 'form', 'class' : 'form-horizontal'} }) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_widget(form.nick, {'attr': {'class': 'col-md-6 form-control', 'placeholder': 'Nick'}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'col-md-6 form-control', 'placeholder': 'Password' }}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.login, {'attr': {'class': 'btn btn-lg btn-primary btn-block' }}) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
